* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.encabezado {
    background-color: blueviolet;;
}

nav {
    background-color: blueviolet;
}

.nav-link {
    color: black;
    font-size: 15px;
    transition: transform .7s;
}

.nav-link:hover {
    color: white;
    transform: scale(1,2);
}

.navbar-toggler {
    color: blueviolet;
    border: solid, 1px, blueviolet;
}

.carousel-inner {
    max-height: 39rem;
}

.card {
    border: none;
    margin-top: 100px;
}

.footer {
    background-color: blueviolet;
    background-repeat: no-repeat;
    background-size: cover;
    height: 12rem;
    border-top: 5px solid black;
}

.iconlink {
    color: black;
    margin: 10px;
}

.iconlink a:hover {
    color: white;
}

.btn {
    background-color: blueviolet;
}

.btn:hover {
    color: blueviolet;
    background-color: black;
}


    