* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Roboto', sans-serif;
}

.encabezado {
    background-color: blueviolet;;
}

.nav-link {
    color: black;
    font-size: 15px;
}

.nav-link:hover {
    color: blueviolet;
}

.navbar-toggler {
    color: blueviolet;
    border: solid, 1px, blueviolet;
}

.carousel-inner {
    max-height: 39rem;
}

.carousel-caption {
    height: auto;
}


    